<mat-nav-list>
  <div class="px-2">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <div class="header">
        <h2 class="header-text">Anime Life</h2>
      </div>
    </a>
    <div class="mb-3"></div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon>payment</mat-icon>
      <span>Ongoing</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
      <mat-icon>pin</mat-icon>
      <span>Dubbed</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
      <mat-icon>pin</mat-icon>
      <span>Subbed</span>
    </a>
  
    <div class="mb-3"></div>
    <h2 matSubheader>Type</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
      <mat-icon>shield</mat-icon>
      <span>Series</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
      <mat-icon>badge</mat-icon>
      <span>Random</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
      <mat-icon>badge</mat-icon>
      <span>Schedule</span>
    </a>
    
    <div class="mb-3"></div>
    <h2 matSubheader>User</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
      <mat-icon>person</mat-icon>
      <span>Favorite</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </a>
  </div>
</mat-nav-list>
