<div class="custom-card">
  <div class="text-container" [ngClass]="{'dark-background': lineColor === '#D13547'}">
    <div class="left" *ngIf="infoShow === 'true'">
      <div *ngIf="lineColor === '#56D6D0'">
        <span class="icon icon-background-green"><i class="fa fa-users"></i></span>
      </div>
      <div *ngIf="lineColor === '#83C0FF'">
        <span class="icon icon-background-blue"><i class="fa fa-dragon"></i></span>
      </div>
    </div>
    <div class="left" *ngIf="infoShow === 'false'">
      <span class="font-size-lg font-weight-500">Anime Stats</span>
    </div>
    <div class="right" *ngIf="infoShow === 'true'">
      <div *ngIf="lineColor === '#56D6D0'">
        <h3>34+</h3>
        <span class="text-muted">Weekly Animes</span>
      </div>
      <div *ngIf="lineColor === '#83C0FF'">
        <h3>75+</h3>
        <span class="text-muted">Weekly Episodes</span>
      </div>
    </div>
  </div>
  
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 220px; display: block"
  ></highcharts-chart>

  <div class="options-container" *ngIf="infoShow === 'false'">
    <div class="card-row">
      <div class="card-row__card bg-light-warning">
        <span><i class="fa fa-chart-bar"></i></span>
        <span>Weekly Watched</span>
      </div>
      <div class="card-row__card bg-light-primary">
        <span><i class="fa fa-user-plus"></i></span>
        <span>New Animes</span>
      </div>
    </div>
    <div class="card-row">
      <div class="card-row__card bg-light-success">
        <span><i class="fa fa-layer-group"></i></span>
        <span>Waiting Eagerly</span>
      </div>
      <div class="card-row__card bg-light-danger">
        <span><i class="fa fa-envelope-open-text"></i></span>
        <span>Disliked</span>
      </div>
    </div>
  </div>
</div>
