.sidebar {
  background-color: #1e1e2d;
  position: fixed;
  top: 0;
  left: 0;
  width: 265px;
  height: 100%;
}

.right-container {
  margin-left: 265px;
}

.header {
  position: fixed;
  top: 0;
  width: calc(100% - 265px);
  background-color: #fff;
  z-index: 99;
  height: 56px;
}

.main-content {
  padding-top: 80px;
  padding-bottom: 74px;
  background-color: #eef0f8;
}

.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 265px);
  background-color: #fff;
  z-index: 1;
}
